header {
    background-color: lightblue;
    height: 40px;
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    border: 1px solid #ffcc88;
    border-radius: 10px;
    width: calc(50% - 10px);
    display: flex;
}

.card .card-image {
    width: 200px;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}